<div class= "container">
  <div class= "row">
    <div class= "col-md-12">
      <h1><%= @restaurant.name %>'s Dashboard</h1>
      <hr>
        <ul>
        <li>有 <%= @restaurant.comments.count%> 筆評論</li>
        <li>這家餐廳平均價位為 $xxx</li>
        <li>有 xx 人收藏這家餐廳</li>
        </ul>
        <%= link_to 'GoBack', url_for(request.env["HTTP_REFERER"] || root_path), class: "btn btn-primary" %>
    </div>
  </div>
</div>