.restaurant-item{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item img{
  max-height: 220px;
  width: 100%;
}

.restaurant-item .caption{   
  padding: 10px;
}

.nav-pills-center{
  text-align: center;
}

.nav-pills-center > li{
  float: none;
  display: inline-block;
}

.edit_user img{
  width: 250px;
}

.show_user img{
  width: 250px;
  height: 250px;
}

.my-restaurant{
  display: inline-block;
  text-align: center;
  margin: 10px 10px;
}

.my-restaurant > div{
  height: 50px;
}

.my-restaurant img{
  max-height: 100%;
}

.user-item{
  text-align: center;
}

.user-item img{
  width: 180px;
  height: 150px;
}